/* Variables */
$hover-color: #669900;
$btn-font-size: clamp(0.3rem, 2.5vw, 1.2rem);
$small-font-size: clamp(0.3rem, 1vw, 0.6rem);
$middle-font-size: clamp(0.5rem, 1.5vw, 0.8rem);
$middle2-font-size: clamp(0.7rem, 2vw, 1rem);
$middle3-font-size: clamp(1rem, 2.5vw, 1.5rem);
$header-height-pc: 115px;
$header-height-mobile: 67.5px;

/* Common */
*{
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
  cursor: default;
  overflow-x: hidden;
}

img{
  display: block;
}

a{
  text-decoration: none;
}

/*INNER*/
.inner{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* BUTTON */
.btn {
  padding: 1vw;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: $btn-font-size;
  cursor: pointer;
  transition: all .4s;
  overflow: hidden;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  &--reverse {
    background-color: #333;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: #333; 
    }
  }
  &--brown {
    color: #592B18;
    border-color: #592B18;
    &:hover {
      color: #FFF;
      background-color: #592B18;
    }
  }
  &--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
    &:hover {
      color: #FFF;
      background-color: #D9AA8A;
    }
  }
  &--white {
    color: #FFF;
    border-color: #FFF;
    &:hover {
      color: #333;
      border-color: #333;
    }
  }
  &--grey {
    color: #777;
    border-color: #777;
    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}

/* 스크롤에 따른 보임 여부 */
.back-to-position {
  opacity: 0;
  transition: 1s;
  &.to-right {
    transform: translateX(-150px);
  }
  &.to-left {
    transform: translateX(150px);
  }
}
.show{
  .back-to-position {
    opacity: 1;
    transform: translateX(0); /*show 클래스가 있을 때 원해 위치로 돌아가 보임*/
    .delay-0 {
      transition-delay: 0s;
    }
    .delay-1 {
      transition-delay: .3s;
    }
    .delay-2 {
      transition-delay: .6s;
    }
    .delay-3 {
      transition-delay: .9s;
    }
  }
}

/*HEADER*/
header{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  padding: 2rem 0 0 0;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  .inner{
    gap: 3rem;
  }
  .logo{
    cursor: pointer;
  }
  .menu{
    .sub-menu{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      a{
        color: #777;
        font-size: $middle-font-size;
        padding: 0.5rem;
        text-wrap: nowrap;
        &:hover{
          color: #000;
        }
      }
      .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #777;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        input{
          display: none;
          padding: 0.2rem;
          outline: none;
          border: none;
          font-size: $middle-font-size;
          &::placeholder{
            color: #777;
          }
        }
        .search-icon{
          pointer-events: none;
        }
      }
    }
    .main-menu{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      z-index: 1;
      .item{
        &:hover .item__name{
          background-color: #2c2a29;
            color: $hover-color;
            border-radius: 6px 6px 0 0;
        }
        .item__name{
          font-size: $middle2-font-size;
          text-wrap: nowrap;
          padding: 0.5rem 0.5rem 1.5rem 0.5rem ;
          transition: all 0.3s;
        }
        .item__content{
          position: fixed;
          left: 0;
          z-index: 1;
          width: 100%;
          background-color: #2c2a29;
          transition: top 2s ease;
          display: none;
          opacity:0;

          .content-menus{
            padding: 1.5rem 0;
            .inner{
              justify-content: space-between;
              .content-menu{
                text-wrap: nowrap;
                h4{
                  color: white;
                  font-size: $middle2-font-size;
                  font-weight: 700;
                  margin-bottom: 0.7rem;
                }
                ul{
                  li{
                    color: #999;
                    font-size: $middle-font-size;
                    cursor: pointer;
                    margin-bottom: 0.3rem;
                    transition: color 0.3s;
                    &:hover{
                      color: $hover-color;
                    }
                  }
                }
              }
            }
          }

          .content-recommand{
            padding: 1.5rem 0;
            background-color: #000;
            .inner{
              flex-direction: column;
              gap: 1rem;
              h4{
                font-size: $middle2-font-size;
                font-weight: 700;
                color: #999;
                margin-bottom: -0.5rem;
                transition: color 0.3s;
                &:hover{
                  color: $hover-color;
                  cursor: pointer;
                }
              }
              p{
                font-size: $middle-font-size;
                color: $hover-color;
              }
            }
          }
        }
      }
    }
  }
  .narrow-width-menu{
    display: none;
  }
}



/*BADGES*/
.badges{
  position: absolute;
  top: 120%;
  right: 2%;
  opacity:1;
  .close-badge{
    position: absolute;
    cursor: pointer;
    font-size: 0.9rem ;
    top: 1%;
    left: -20%;
  }
  .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
  }
}

/*MOBILE HAMBURGER MENU*/
.mobile__menu__back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0,0,0,.5);
  opacity: 0; /**/
  display: none; /**/
}

.mobile__menu{
  position: fixed;
  width: 60%;
  height: 100%;
  background-color: #333;
  z-index: 12;
  color: white;
  transition: right .4s;
  .mobile__menu__inner {
    height: 100%;
    overflow: auto;
    .close-mobile-menu {
      position: absolute;
      font-size: 2.5rem;
      left: -13%;
      top: 3%;
      cursor: pointer;
    }
    .search-m{
      width:100%;
      border-bottom: 2px solid #777;
      padding: 1.5rem 2rem;
      .search-m__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        input {
          font-size: $btn-font-size;
          width: 60%;
          padding: 0.7rem;
          outline: none;
          border-radius: 4px;
          font-size: $btn-font-size;
        }
        .btn{
          width: 30%;
          padding: 0.7rem;
        }
      }
    }
    .categories__m{
      padding: 0.5rem;
      .category{
        .title{
          display: flex;
          justify-content: space-between; 
          align-items: center;
          width: 100%;
          cursor: pointer; 
          padding: 1rem;
          border-bottom: solid 1px #000;
          font-size: $middle2-font-size;
          font-weight: 700;
        }
        .list{
          display: none;
          padding: 1rem;
          font-size: $middle-font-size;
        }
      }
    }
  }
}

.mobile__menu--show{
  right: 0;
}
.mobile__menu--hide{
  right: -100%;
}

/* VISUAL */
.visual{
  margin-top: $header-height-pc;
  background: url("/assets/img/visual/visual_bg.jpg") no-repeat center;
  height: 50vw;
  max-height: 646px;
  .visual__inner{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    max-width: 90%;
    .title {
      position: absolute;
      width: 50%;
      max-width: 600px;
      top: 5%;
      text-align: center;
      img {
        width: 100%; 
        height: auto; 
      }
      .btn{
        display: inline-block; 
        margin-top: 2vw;
      }
    }
    .cup1{
      position: absolute;
      width: 25%;
      max-width: 300px;
      bottom: 0;
      right:0;
      .image {
        width: 100%; 
        height: auto; 
      }
      .text {
        position: absolute;
        width: 85%; 
        height: auto; 
        top: 2%;
        left: -80%;
      }
    }
    .cup2{
      position: absolute;
      width: 23%;
      max-width: 250px;
      bottom: 0;
      right: 20%;
      .image {
        width: 100%; 
        height: auto; 
      }
      .text {
        position: absolute;
        width: 100%; 
        height: auto; 
        bottom: 30%;
        left: -90%;
      }
    }
    .fade-in {
      opacity: 0;
    }
  }
}

.notice{
  .notice-line{
    position: relative;
    .bg-left{
      position:absolute;
      top:0;
      left:0;
      width: 50%;
      height: 100%;
      background-color: #333;
    }
    .bg-right{
      position:absolute;
      top:0;
      right:0;
      width: 50%;
      height: 100%;
      background-color: white;
    }
    .inner{
      height: 62px;
      display: flex;
      .inner__left{
        z-index:1;
        width: 60%;
        height: 100%;
        background-color: #333;
        display: flex;
        align-items: center;
        gap:1rem;
        h2 {
          color: white;
          font-weight: 700;
          flex-basis:0;
          flex:0.3;
          font-size: $middle2-font-size;
        }
        .swiper {
          width: 10%;
          max-height: 62px;
          flex-basis:0;
          flex:1;
          font-size: $middle-font-size;
          .swiper-slide {
            max-height: 80px;
            display: flex;
            align-items: center;
            a{
              color: white;
            }
          }
        }
        .notice-line__more {
          flex-basis:0;
          flex:0.2;
          cursor: pointer;
          .material-icons {
            color: #fff;
            font-size: $middle3-font-size;
          }
        }
      }
      .inner__right{
        width: 40%;
        height: 100%;
        z-index:1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:1rem;
        h2 {
          font-size: $middle2-font-size;
          font-weight: 700;
        }
        .toggle-promotion {
          cursor: pointer;
          .material-icons {
            font-size: 2rem;
            font-size: $middle3-font-size;
          }
        }
      }
    }
  }
  /*PROMOTION*/
  .promotion{
    height: 693px;
    background-color: #f6f5f0;
    position: relative;
    overflow: hidden;
    transition: height .8s;
    &.hide {
      height: 0;
    }
    .swiper{
      width: calc(819px * 3 + 20px);
      height: 553px;
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: calc((819px * 3 + 20px) / -2); /* 가운데 정렬 */
      img{
        width: 100%;
        height: auto;
      }
      .swiper-slide{
        position: relative;
        opacity: .5;
        transition: opacity 1s;
        img{
          cursor: pointer;
        }
        &.swiper-slide-active {
          opacity: 1;
        }
      }
      .swiper-pagination {
        &-bullet {
          background-color: transparent;
          background-image: url("../assets/img/promotion/promotion_slide_pager.png");
          width: 13px;
          height: 12px;
          margin-right: 6px;
          outline: none;
          &:last-child {
            margin-right: 0;
          }
          &-active {
            background-image: url("../assets/img/promotion/promotion_slide_pager_on.png");
          }
        }
      }
    }
  }
}

/*REWARDS*/
.rewards {
  position: relative;
  .bg-left {
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bg-right {
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
  }
  .inner {
    height: 100%;
    img{
      z-index:1;
      width: 100%;
      height: auto;
    }
    .btn-group {
      z-index:2;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap:0.5rem;
      .sign-up {
        grid-column: 1;
        grid-row: 1; 
      }
      .sign-in {
        grid-column: 2;
        grid-row: 1; 
      }
      .gift {
        grid-column: 1 / 3;
        grid-row: 2; 
      }
    }
  }
}

/*SEASON PRODUCT*/
.season-product{
  background-image: url("../assets/img/season/season_product_bg.jpg");
  .inner {
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    img{
      width: 30vw; 
      max-width: 400px; 
    }
    .text-group {
      .description {
        margin: 1rem 0;
      }
      .btn{
        font-size:$small-font-size;
        padding: 0.5vw;
        color: #333;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

/*RESERVE COFFEE*/
.reserve-coffee {
  background-image: url("../assets/img/reserve/reserve_bg.jpg");
  .inner {
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    gap:1rem;
    padding: 2rem 0;
    .reserve-logo {
      width: 10vw; 
      max-width: 150px; 
    }
    .text-group {
      width: 40vw; 
      max-width: 500px; 
      img{
        width: 100%;
        height: auto;
      }
      .btn{
        font-size:$small-font-size;
        padding: 0.5vw;
      }
    }
  }
}

/*PICK YOUR FAVORITE*/
.pick-your-favorite {
  background-image: url("../assets/img/favorite/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  .inner {
    padding: 4rem 0;
    justify-content: center;
    .text-group {
      width: 30vw; 
      max-width: 300px; 
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      .description {
        margin: 2rem 0;
      }
      .btn{
        padding: 0.5vw;
        &:hover{
          background-color:white;
        }
      }
    }
  }
}

/*AWARDS*/
.awards {
  background-color: #272727;
  .inner {
    padding: 2rem 0;
    .swiper{
      width: 100%
    }
  }
}

/*FOOTER*/
footer {
  background-color: #272727;
  border-top: 1px solid #333;
  .inner {
    padding: 2rem 0 3rem 0;
    .menu {
      display: flex;
      justify-content: center;
      li {
        position: relative;
        &::before {
          content: "";
          width: 3px;
          height: 3px;
          background-color: #555;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -1px;
          margin: auto;
        }
        &:last-child::before {
          display: none;
        }
        a {
          display: block;
          color: #CCC;
          font-size: 12px;
          font-weight: 700;
          padding: 15px;
          .green {
            color: #669900;
          }
        }
      }
    }
    .btn-group {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .btn {
        font-size: 12px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &:hover{
          background-color:white;
        }
      }
    }
    .info {
      margin-top: 30px;
      text-align: center;
    }
  }
  footer .info {
    margin-top: 30px;
    text-align: center;
    span {
      margin-right: 20px;
      color: #999;
      font-size: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }
 .logo {
    margin: 30px auto 0;
  }
}


@media (max-width: 960px) {
  /*header*/
  header{
    padding: 0.5rem 0;
    .logo{
      width: 3rem;
      height: auto;
    }
  }

  .menu, .badges {
    display: none;
  } 
 
  .inner{
    width: 90%;
    justify-content: space-between;
  }

  .narrow-width-menu{
    display: flex !important;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    .material-icons{
      font-size: 3rem;
    }
  }

  .visual{
    margin-top: $header-height-mobile;
  }

  .notice{
    .promotion {
      height: 400px;
    }
    .swiper {
      width: calc(450px * 3 + 20px) !important;
      height: 300px !important;
      margin-left: calc((450px * 3 + 20px) / -2) !important; /* 가운데 정렬 */
    }
  }
}